<div class="header-filters">
    <input type="text" placeholder="Search" class="form-control" ng-model="search" />
    <select
        name="repeatSelect"
        ng-model="selectAge.model"
        ng-options="option.name for option in selectAge.availableOptions"
    >
    </select>
    <button type="button" class="btn btn-primary" ng-click="paginationSwitch()">{{ paginationType }}</button>
</div>

<ng-include src="'app/view/pagination.html'"></ng-include>
<ng-include src="'app/view/lazyLoad.html'"></ng-include>
<ng-include src="'app/view/modal.html'"></ng-include>
