<div ng-click="paginationSwitch()">{{ paginationType }}</div>
<input placeholder="Search" ng-model="searchText" />

<div ng-show="!pagination">
    <div ng-controller="Pagination">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th ng-click="filterSwitch('id')">Id</th>
                    <th ng-click="filterSwitch('firstName')">FirstName</th>
                    <th ng-click="filterSwitch('lastName')">LastName</th>
                    <th ng-click="filterSwitch('email')">Email</th>
                    <th ng-click="filterSwitch('age')">Age</th>
                </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in users | filter:searchText | orderBy:userFilter:revers">
                  <td>{{ user.id }}</td>
                  <td><edit-in-place value="user.firstName"></edit-in-place></td>
                  <td><edit-in-place value="user.lastName"></edit-in-place></td>
                  <td><edit-in-place value="user.email"></edit-in-place></td>
                  <td>
                      <edit-in-place value="user.age"></edit-in-place>

                      <button type="button" class="btn btn-success">
                          <span class="glyphicon glyphicon-modal-window"></span>
                      </button>
                  </td>
              </tr>
            </tbody>
      </table>

        <ul class="pagination" >
            <li ng-repeat="page in paginationList" ng-click="showPage(page.link)" ng-class="{'active': currentPageNum() == page.link}">
              <a ng-bind-html="page.name"></a>
            </li>
        </ul>
    </div>
</div>

<div ng-show="pagination">
    <div class="fixed" ng-controller="LazyLoad" when-scrolled="loadMore()">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th ng-click="filterSwitch('id')">Id</th>
                    <th ng-click="filterSwitch('firstName')">FirstName</th>
                    <th ng-click="filterSwitch('lastName')">LastName</th>
                    <th ng-click="filterSwitch('email')">Email</th>
                    <th ng-click="filterSwitch('age')">Age</th>
                </tr>
            </thead>
            <tbody >
              <tr ng-repeat="i in items | filter:searchText | orderBy:userFilter:revers">
                  <td>{{ i.item.id }}</td>
                  <td><edit-in-place value="i.item.firstName"></edit-in-place></td>
                  <td><edit-in-place value="i.item.lastName"></edit-in-place></td>
                  <td><edit-in-place value="i.item.email"></edit-in-place></td>
                  <td>
                      <edit-in-place value="i.item.age"></edit-in-place>

                      <button type="button" class="btn btn-success">
                          <span class="glyphicon glyphicon-modal-window"></span>
                      </button>
                  </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
